$primary-layout-background: #fafbfc;
$secondary-layout-background: #eaecef;
$tertiary-background-color: #f6f8fa;
$main-color: #1366D6;
$light-main-color: #1366d6eb;
$primary-font-color: #24292e;
$secondary-font-color: #586069;
$icon-color: #959da5;
