<div class="item" *ngIf="repo">
    <div class="owner-photo" *ngIf="repo.owner.avatar_url">
        <img [src]="repo.owner.avatar_url" alt="Profile photo of the repository owner" />
    </div>
    <div class="repo-desc">
        <h2 class="repo-title">
            {{ repo.name }}
        </h2>
        <p class="desc">
            {{ repo.description }}
        </p>
        <div class="statistics">
            <span class="stars">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20" fill="black" width="18px" height="18px">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z" />
                </svg>
                <span class="number">
                    {{ repo.stargazers_count }}
                </span>
                <span class="text">Stars.</span>
            </span>
            <span class="issues">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 22 18" viewBox="0 0 22 18"
                    fill="black" width="18px" height="18px">
                    <g>
                        <rect fill="none" height="24" width="24" />
                        <path
                            d="M9.78,11.16l-1.42,1.42c-0.68-0.69-1.34-1.58-1.79-2.94l1.94-0.49C8.83,10.04,9.28,10.65,9.78,11.16z M11,6L7,2L3,6h3.02 C6.04,6.81,6.1,7.54,6.21,8.17l1.94-0.49C8.08,7.2,8.03,6.63,8.02,6H11z M21,6l-4-4l-4,4h2.99c-0.1,3.68-1.28,4.75-2.54,5.88 c-0.5,0.44-1.01,0.92-1.45,1.55c-0.34-0.49-0.73-0.88-1.13-1.24L9.46,13.6C10.39,14.45,11,15.14,11,17c0,0,0,0,0,0h0v5h2v-5 c0,0,0,0,0,0c0-2.02,0.71-2.66,1.79-3.63c1.38-1.24,3.08-2.78,3.2-7.37H21z" />
                    </g>
                </svg>
                <span class="number">{{ repo.open_issues_count }}</span>
                <span class="text">Issues.</span>
            </span>
            <span class="last-text">Submitted 30 days ago
                <a class="owner-name" [href]="repo.owner.url">by {{ repo.owner.login }}.</a></span>
        </div>
    </div>
</div>